:root {
    --page-background: #eee;
    --page-background-secondary: #ddd;
    --page-color: #222;
    --tool-color: #aaa;
    --tool-hover-color: #222;
}

h1, h2, h3 {
    margin: 0 0 7px 0;
    font-weight: 400;
    text-align: center;
}

#grid, #hud {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



/* =-=-= GRID =-=-= */
#grid {
    background: var(--page-background);
    color: var(--page-color);
    text-align: center;
}

#mapChess {
    height: 100%;
}


/* =-=-= HUD =-=-= */
#hud {
    pointer-events: none;
}
#hud > * {
    pointer-events: auto;
}



#dark-theme {
    filter: saturate(0);
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 30px;
    padding: 0;
    font-size: 18px;
    cursor: pointer;
}
#dark-theme:before {
    filter: brightness(0.3);
    content: "🌙";
}
#dark-theme.dark-active:before {
    filter: brightness(1.6);
    content: "🌕";
}



#page-drawers {
    z-index: 2;
    width: 30%;
    max-width: 300px;
    min-width: 200px;
}

#tools-drawer {
    --tool-color-transition-time: 100ms;
    --tool-color-transition-type: ease;
    --tool-color-transition: color var(--tool-color-transition-time) var(--tool-color-transition-type);
    z-index: 10;
    width: 50px;
    padding: 10px 0;
    color: var(--tool-color);
    /* overflow: hidden; */
    position: relative;
    text-align: center;
}

#tools-drawer hr {
    border-color: lightgray;
}

#tools-drawer a {
    display: inline-block;
    color: var(--tool-color);
    width: calc(100% + 20px);
    margin: -10px -10px;
    padding: 10px 0;
    transition: var(--tool-color-transition);
}
#tools-drawer a:visited {
    color: var(--tool-color);
}
#tools-drawer a:hover {
    color: var(--tool-hover-color);
}



#tools-drawer #drawing-tools {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-top: 5px;
}

#tools-drawer #drawing-tools li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

#tools-drawer #drawing-tools li > span {
    --square-size: 40px;
    font-size: medium;
    width: var(--square-size);
    height: var(--square-size);
    line-height: var(--square-size);
    border-radius: 50%;
    overflow: visible;
    cursor: pointer;

    transition: var(--tool-color-transition),
                background 400ms var(--tool-color-transition-type),
                border-radius 100ms var(--tool-color-transition-type);
    transition-delay: 100ms;
}
#tools-drawer #drawing-tools li > span:hover {
    border-radius: 5px;
    background: var(--page-background);
    color: var(--tool-hover-color);
    
    transition: var(--tool-color-transition),
                background 100ms var(--tool-color-transition-type),
                border-radius 400ms var(--tool-color-transition-type);
}
#tools-drawer #drawing-tools li > span[active] {
    border-radius: 5px;
    color: var(--tool-hover-color);
    background: var(--button-background-active);
    
    transition: var(--tool-color-transition),
                background 100ms var(--tool-color-transition-type),
                border-radius 400ms var(--tool-color-transition-type);
}

#tools-drawer #drawing-tools li > span::before {
    content: attr(tag);
    display: inline-block;
    color: var(--tool-hover-color);
    width: fit-content;
    position: fixed;
    left: 45px;
    opacity: 0;
    padding: 0 5px;
    height: 22px;
    line-height: 22px;
    background: var(--page-background);
    border-radius: 5px;
    margin-top: 10px;

    transition: left 100ms ease, opacity 200ms ease;
}
#tools-drawer #drawing-tools li > span:hover::before {
    left: 55px;
    opacity: 1;
}

#tools-drawer #drawing-tools li > span#tool-tile {
    overflow: hidden;
}
#tools-drawer #drawing-tools li > span#tool-tile span {
    width: var(--square-size);
    height: var(--square-size);
    display: inline-block;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}



.flexible-drawer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}



#code-export-area {
    resize: vertical;
    min-height: 150px;
    height: 150px;
    max-height: 400px;
}



#file-input {
    display: none;
}
label.file-input-span {
    border: solid 1px var(--input-border);
    background: var(--input-background);
    color: var(--input-color);
    border-radius: 1px;

    width: calc(100% - 2px);
    height: 25px;
    line-height: 27px;
    padding: 0;
    display: block;
    text-align: center;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
label.file-input-span:hover {
    background: var(--button-background-hover);
    color: var(--button-color-hover);
}
label.file-input-span:active {
    background: var(--button-background-active);
}

#file-imageloader {
    max-height: 100%;
    overflow-y: overlay;
    overflow-x: hidden;
}



#palette-container {
    width: 100%;
    height: 100%;
    background: #00000018;
    display: flex;
    justify-content: center;
    align-items: center;
}

#palette-container > #palette-window {
    width: 70%;
    max-width: 700px;
    max-height: 700px;
}

#palette-container > #palette-window > header {
    margin: -10px;
    padding: 5px 10px;
}
#palette-container > #palette-window > header > button {
    font-size: large;
    font-weight: bold;
    padding: 0 5px;
    margin: 5px 0 10px 5px;
}

#palette-container > #palette-window > #palette-form-config {
    display: flex;
    width: 100%;
}
#palette-container > #palette-window > #palette-form-config > input {
    flex: 1;
}
#palette-container > #palette-window > #palette-form-config > span.palette-form-span {
    max-width: fit-content;
    margin: 0 5px;
    font-size: 15px;
    line-height: 28px;
}
#palette-container > #palette-window > #palette-form-config > input#palette-form-name {
    margin-right: 10px;
}
#palette-container > #palette-window > #palette-form-config > input#palette-form-x,
#palette-container > #palette-window > #palette-form-config > input#palette-form-y {
    max-width: 27px;
    text-align: right;
}

#palette-container > #palette-window > .palette-window-grid-container {
    display: flex;
    width: 100%;
    min-height: 350px;
    height: 60vh;
    max-height: 500px;
    column-gap: 10px;
    margin-top: 20px;
}
#palette-container > #palette-window > .palette-window-grid-container > div {
    flex: 1;
    max-width: calc(100% - 275px);
}
#palette-container > #palette-window > .palette-window-grid-container > div > .palette-window-grid {
    height: calc(100% - 33px);
    background: var(--page-background);
    margin-top: 5px;
}
#palette-container > #palette-window > .palette-window-grid-container > div > .palette-window-grid-title {
    text-align: center;
    font-weight: 200;
    margin: 5px 0 -5px 0;
}
#palette-container > #palette-window > .palette-window-grid-container > div > #palette-form-texture {
    width: calc(100% - 26px);
    max-width: 200px;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#palette-container > #palette-window > .palette-window-grid-container > div > .file-input-span {
    display: inline-block;
    width: 25px;
    margin: 0 -5px 0 0;
    transform: translateY(1px);
}
#palette-container > #palette-window > #palette-form-confirm {
    margin-top: 10px;
}



#palette-label-container {
    overflow-y: auto;
    max-height: calc(100vh - 107px);
}
#palette-label-container > div.palette-label {
    background-color: var(--page-background);
    border-radius: 3px;
}
#palette-label-container > div.palette-label ~ div.palette-label {
    margin-top: 9px;
}
#palette-label-container > div.palette-label .palette-label-header {
    display: flex;
}
#palette-label-container > div.palette-label .palette-label-header .palette-label-title {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1px 10px;
    width: 100%;
    margin: 0;
    font-weight: normal;
}
#palette-label-container > div.palette-label .palette-label-header .palette-label-button {
    border: none;
    background-color: transparent;
    color: var(--tool-color);
    cursor: pointer;
    font-size: x-large;
}
#palette-label-container > div.palette-label .palette-label-header .palette-label-button:hover {
    background-color: transparent;
    color: var(--tool-hover-color);
}
#palette-label-container > div.palette-label .palette-label-body {
    overflow: auto;
    text-align: center;
    resize: vertical;
    height: 48px;
    padding-top: 2px;
    min-height: 48px;
    max-height: 498px;
    background: linear-gradient(to left, var(--page-background) 24px, var(--page-background-secondary) 10px);
}

#palette-label-container > div.palette-label .palette-label-body::-webkit-resizer {
    background: linear-gradient(135deg, transparent 50%, #7773 51%);
}

#palette-label-container > div.palette-label .palette-label-body::-webkit-scrollbar {
    width: 16px;
}

#palette-label-container > div.palette-label .palette-label-body::-webkit-scrollbar-thumb {
    background: transparent;
}