:root {
    --page-background: #eee;
    --page-color: #222;
    --tool-color: #aaa;
    --tool-hover-color: #222;
}

h1, h2, h3 {
    margin: 0 0 7px 0;
    font-weight: 400;
    text-align: center;
}

#grid, #hud {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



/* =-=-= GRID =-=-= */
#grid {
    background: var(--page-background);
    color: var(--page-color);
    text-align: center;
}

#mapChess {
    height: 100%;
}


/* =-=-= HUD =-=-= */
#hud {
    pointer-events: none;
}
#hud > * {
    pointer-events: auto;
}

#dark-theme {
    filter: saturate(0);
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    font-size: 18px;
    cursor: pointer;
}
#dark-theme:before {
    filter: brightness(0.3);
    content: "🌙";
}
#dark-theme.dark-active:before {
    filter: brightness(1.6);
    content: "🌕";
}

#page-drawers {
    z-index: 2;
    width: 30%;
    max-width: 300px;
    min-width: 200px;
}

#tools-drawer {
    --tool-color-transition: color 100ms ease;
    z-index: 10;
    width: 30px;
    color: var(--tool-color);
    overflow: hidden;
    position: relative;
    text-align: center;
}

#tools-drawer hr {
    margin-left: -5px;
    margin-right: -5px;
    border-color: lightgray;
}

#tools-drawer a {
    display: inline-block;
    color: var(--tool-color);
    width: calc(100% + 20px);
    margin: -10px -10px;
    padding: 10px 0;
    transition: var(--tool-color-transition);
}
#tools-drawer a:visited {
    color: var(--tool-color);
}
#tools-drawer a:hover {
    color: var(--tool-hover-color);
}

.flexible-drawer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

#code-export-area {
    resize: vertical;
    min-height: 150px;
    height: 150px;
    max-height: 400px;
}

#file-input {
    display: none;
}
label.file-input-span {
    border: solid 1px var(--input-border);
    background: var(--input-background);
    color: var(--input-color);
    border-radius: 1px;

    width: calc(100% - 2px);
    height: 25px;
    line-height: 27px;
    padding: 0;
    display: block;
    text-align: center;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
label.file-input-span:hover {
    background: var(--button-background-hover);
    color: var(--button-color-hover);
}
label.file-input-span:active {
    background: var(--button-background-active);
}

#file-imageloader {
    max-height: 100%;
    overflow-y: overlay;
    overflow-x: hidden;
}

#palette-container {
    width: 100%;
    height: 100%;
    background: #00000018;
    display: flex;
    justify-content: center;
    align-items: center;
}

#palette-container > #palette-window {
    width: 70%;
    max-width: 700px;
    max-height: 700px;
}

#palette-container > #palette-window > header {
    margin: -10px;
    padding: 5px 10px;
}
#palette-container > #palette-window > header > button {
    font-size: large;
    font-weight: bold;
    padding: 0 5px;
    margin: 5px 0 10px 5px;
}

#palette-container > #palette-window > #palette-form-config {
    display: flex;
    width: 100%;
}
#palette-container > #palette-window > #palette-form-config > input {
    flex: 1;
}
#palette-container > #palette-window > #palette-form-config > span.palette-form-span {
    max-width: fit-content;
    margin: 0 5px;
    font-size: 15px;
    line-height: 28px;
}
#palette-container > #palette-window > #palette-form-config > input#palette-form-name {
    margin-right: 10px;
}
#palette-container > #palette-window > #palette-form-config > input#palette-form-x,
#palette-container > #palette-window > #palette-form-config > input#palette-form-y {
    max-width: 27px;
    text-align: right;
}

#palette-container > #palette-window > .palette-window-grid-container {
    display: flex;
    width: 100%;
    min-height: 350px;
    height: 60vh;
    max-height: 500px;
    column-gap: 10px;
    margin-top: 20px;
}
#palette-container > #palette-window > .palette-window-grid-container > div {
    flex: 1;
}
#palette-container > #palette-window > .palette-window-grid-container > div > .palette-window-grid {
    height: calc(100% - 33px);
    background: #ee82ee77;
    margin-top: 5px;
}
#palette-container > #palette-window > .palette-window-grid-container > div > .palette-window-grid-title {
    text-align: center;
    font-weight: 200;
    margin: 5px 0 -5px 0;
}
#palette-container > #palette-window > .palette-window-grid-container > div > #palette-form-texture {
    width: 100%;
    max-width: 200px;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#palette-container > #palette-window > #palette-form-confirm {
    margin-top: 10px;
}