[dark-theme="true"] {
    --hr-color: #444;
    --page-background: #222225;
    --page-background-secondary: #1f1f21;
    --page-border-color: #333;
    --page-color: #fff;
    --tool-color: #777;
    --tool-hover-color: #fff;

    --input-border: #090909;
    --input-color: #81818c;
    --input-placeholder-color: #666;
    --input-background: #222;
    --button-color-hover: #a1a1ac;
    --button-background-hover: #151515;
    --button-background-active: #111;
    
    --drawer-background: var(--page-background-secondary);
    --drawer-border-color: #090909;
    
    --gridmap-primary-black: #eee;
    --gridmap-primary-gray: #555555;
    --gridmap-secondary-gray: #777;
    --gridmap-primary-white: #1d1d1f;
    --gridmap-secondary-white: var(--page-background-secondary);
    --gridmap-highlight: #0051ff;
    --gridmap-placehold-color: transparent;
    
    --gridmap-tile-background: var(--gridmap-placehold-color);
    --gridmap-cursor-color: var(--gridmap-highlight);
    --gridmap-background: var(--gridmap-primary-white);
    --gridmap-disabled-background: var(--gridmap-secondary-white);
    --gridmap-border: var(--gridmap-primary-gray);
    --gridmap-color: var(--gridmap-primary-black);
    --gridmap-disabled-color: var(--gridmap-secondary-gray);

    --tile-background: var(--page-background);
    --tile-border: var(--page-background-secondary);
}