@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');

:root {
    --hr-color: #ddd;
    --page-color: #222;
    --input-border: lightgray;
    --input-color: #555;
    --input-placeholder-color: #ccc;
    --input-background: white;
    --button-color-hover: #333;
    --button-background-hover: #f5f5f5;
    --button-background-active: #eee;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Baloo 2', cursive;
    font-size: large;
    color: var(--page-color);
}

a {
    text-decoration: none;
}

hr {
    border-style: solid;
    border-color: var(--hr-color);
    border-bottom: none;
}

button, input, textarea {
    border: solid 1px var(--input-border);
    background: var(--input-background);
    color: var(--input-color);
    border-radius: 1px;
}
button, input {
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}

button {
    transition: background ease 150ms, color ease 150ms;
}
button:hover {
    background: var(--button-background-hover);
    color: var(--button-color-hover);
}
button:active {
    background: var(--button-background-active);
}

button:disabled, input:disabled, textarea:disabled {
    background: var(--button-background-hover);
    border-color: var(--button-background-hover);
    color: var(--input-color);
}

button, a, input, textarea {
    outline: none;
}

h1, h2, h3, h4, h5 {
    color: var(--page-color);
}

button.btn-block {
    display: block;
    width: 100%;
}

textarea {
    display: block;
    width: calc(100% - 6px);
    resize: none;
}

textarea::placeholder, input::placeholder {
    color: var(--input-placeholder-color);
}

label {
    font-size: small;
}

.float-right {
    float: right;
}