@font-face {
    font-family: 'Baloo 2';
    src: url('fonts/Baloo_2/Baloo2-Medium.ttf') format('truetype');
}

:root {
    --hr-color: #ddd;
    --page-color: #222;
    --input-border: lightgray;
    --input-color: #555;
    --input-placeholder-color: #ccc;
    --input-background: white;
    --button-color-hover: #333;
    --button-background-hover: #f5f5f5;
    --button-background-active: #eee;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Baloo 2', cursive;
    font-size: large;
    color: var(--page-color);
}

a {
    text-decoration: none;
}

hr {
    border-style: solid;
    border-color: var(--hr-color);
    border-bottom: none;
}

button, input, textarea, select {
    border: solid 1px var(--input-border);
    background: var(--input-background);
    color: var(--input-color);
    border-radius: 1px;
}
button, input, select {
    height: 27px;
    line-height: 27px;
    padding: 0 10px;
}
input {
    height: 25px;
    line-height: 25px;
}

button {
    transition: background ease 150ms, color ease 150ms;
}
button:hover {
    background: var(--button-background-hover);
    color: var(--button-color-hover);
}
button:active {
    background: var(--button-background-active);
}

button:disabled, input:disabled, textarea:disabled {
    background: var(--button-background-hover);
    border-color: var(--button-background-hover);
    color: var(--input-color);
}

button, a, input, textarea, select {
    outline: none;
}

h1, h2, h3, h4, h5 {
    color: var(--page-color);
}

button.btn-block {
    display: block;
    width: 100%;
}

textarea {
    display: block;
    width: calc(100% - 6px);
    resize: none;
}

textarea::placeholder, input::placeholder, select::placeholder {
    color: var(--input-placeholder-color);
}

label {
    font-size: small;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


* { /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--page-color) transparent;
}
/* Chrome, Safari, Edge, Opera */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
*::-webkit-scrollbar-thumb {
    background: var(--page-color);
    border-radius: 1px;
}
*::-webkit-scrollbar-corner {
    background-color: transparent;
}


.float-right {
    float: right;
}